/* Coolors Exported Palette - coolors.co/fffd98-9fbbcc-7a9cc6-545e75-a1ef8b */

/* HSL */
$color1: hsla(59%, 100%, 80%, 1);
$color2: hsla(203%, 31%, 71%, 1);
$color3: hsla(213%, 40%, 63%, 1);
$color4: hsla(222%, 16%, 39%, 1);
$color5: hsla(107%, 76%, 74%, 1);

/* RGB */
$color1: rgba(255, 253, 152, 1);
$color2: rgba(159, 187, 204, 1);
$color3: rgba(122, 156, 198, 1);
$color4: rgba(84, 94, 117, 1);
$color5: rgba(161, 239, 139, 1);