.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    @media (max-width:600px){
        border-top: solid rgba(59, 59, 59, 0.753) 1px;
        padding-left: 0px;
    }

}

    
    .cards{
        flex-grow: 1;
        width:100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .card.hmoc{
            // margin-top: -30px;
            margin-bottom: -80px;
            height: 35rem;
            width: 25rem;
            // transition: all 1s cubic-bezier(0.420, 0.000, 0.580, 1.000);
            & .sparks {
                img{
                    margin-left: 60px;
                    // transform: scale(10, 10);
                    opacity: 1;
                    width: 100px;
                }
            }
        }

        .card {
        border-radius: 10px;
        width: 20rem;
        height: 30rem;
        background: linear-gradient(241.38deg, #BCCAE6 -14.89%, rgba(255, 255, 255, 0) 92.34%), #6386F3;
        transition: all 1s cubic-bezier(0.420, 0.000, 0.580, 1.000);
        & .hmoc{
            // margin-top: -30px;
            margin-bottom: -80px;
            height: 35rem;
            width: 25rem;
            // transition: all 1s cubic-bezier(0.420, 0.000, 0.580, 1.000);
            & .sparks {
                img{
                    margin-left: 60px;
                    // transform: scale(10, 10);
                    opacity: 1;
                    width: 100px;
                }
            }
        }

            .sparks{
                img{
                    margin-left: 60px;
                    transition: all 1s cubic-bezier(0.420, 0.000, 0.580, 1.000);
                    opacity: 0;
                    width: 10px;
                }
            }
        
            .product{
                display: flex;
                justify-content: space-evenly;
                margin-left: -20px;
                margin-right: 20px;
                .read{
                    img{
                        margin-top: -20px;
                        width: 150px;
                    }
                    
                    display: inline-block;
                    text-align: center;
                    font-family: Raleway;
                    font-size: 12px;
                    position: relative;
                    width: 100px;
                    height: 50px;
                    // background: rgba(255, 255, 255, 0.54);
                    border-radius: 10px;
                    padding-top: 5px;
                    h3{
                        margin-top: 9px;
                        font-size: 15px;
                    }


                }

                .price{
                    display: inline-block;
                    background: rgba(196, 196, 196, 0.432);
                    border-radius: 129px;
                    font-family: Raleway;
                    font-size: 18px;
                    color:  #FFBDBD;
                    height: 50px;
                    width: 100px;
                    margin-left: 20px;
                
                    h4{
                    margin-top: 3px;
                    text-align: center;
                    }
                }
        }



        .photo{

            img{
                @media only screen and (max-width: 600px){
                  margin-top: 40px;
                  margin-left: 60px;
                  width: 400px;
                  padding-left: 50px;
                }
                @media only screen and (min-width: 601px){
                margin-left: 40px;
                 width: 450px;
                }
               }

               margin-left: -120px;
               transition: all 1s cubic-bezier(0.420, 0.000, 0.580, 1.000);
        }
        .photo.chmoc{
            cursor: pointer;
            transform: scale(1.08);
            margin-left: -60px;
            transition: all 1s cubic-bezier(0.420, 0.000, 0.580, 1.000);;
    }
        }
    }
            .btn-amazon{
                outline:0;
                font-family: Raleway;
                font-size: 20px;
                margin-top:100px;
                margin-bottom: 80px;
                margin-right: 100px;
                padding: 20px 50px;
                border-radius: 5px;
                background-color: #fdaa2e;
                &:hover{
                    background-color: #f89500;
                }
                @media (max-width:600px){
                    margin:0px;
                    margin-top: 30px;
                    margin-bottom: 50px;
                }
            }


